{% extends 'layout.html' %}


{% block menu %}
<header>
      <div class="wrap">
        <div class="logo">
          <h1 class="title">
            <a href="#">
              Oluwaseun
              <i class="fa fa-heart" style="animation:pulse 0.7s infinite; -webkit-animation:pulse 0.7s infinite"></i>
              Olawale
            </a>
          </h1>
        </div>

        <div class="menu-icon hamburger">
          <span></span>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">Menu A</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Menu B</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Menu C</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Menu D</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Menu E</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    {% endblock %}